body {
	width: 100vw;
	height: 100vh;
	background: #f4f4f4;
	overflow: hidden;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	background: white;
	padding: 20px;
	margin: 20px;
	
}